html {
    background-color: #ADD8E6;
}

.image {
    width: 70px;
    border-radius: 5px;
    margin-top: 12%;
}
.affichage {
    display: block;
    font-size: 25px;
    text-align: center;
    margin-left: 40%;
    margin-top:22%;
}

.legende {
    font-size: 25px;
}


a:link {
    text-decoration: none;
    color: black;
}